#container {
    width: 800px;
    background-color: rgb(0, 110, 255);
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-radius: 10px;
}

#accordionExample {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
}

.accordion-body {
    display: flex;
    justify-content: space-between;
}

.info-container {
    width: 300px;
}

.edit-button-container {
    display: flex;
    align-items: center;
    margin-right: 150px;
}

.edit-button {
    background-color: rgb(255, 153, 0);
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 5px;
}